.label {
    display: block;
    font-size: 10px;
    color: #000;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px; 
}

#assignee-selector {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    outline: none;  
}

#assignee-selector:hover {
    border-color: #888;
    cursor: pointer;
}

#assignee-selector:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#assignee-selector option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}
